/*
|--------------------------------------------------------------------------
| App CSS
|--------------------------------------------------------------------------
|
| Put any custom CSS in this file, and it will be loaded on every page,
| following Waterhole's default CSS. To discover more variables and
| classes you might like to override, read about Waterhole's design system:
|
| https://waterhole.dev/docs/design/overview
|
*/

:root {
	/*--palette-accent-h: 239;*/
	/*--palette-accent-s: 100%;*/
	/*--palette-accent-l: 68%;*/
	/*--palette-accent: hsl(*/
	/*	var(--palette-accent-h) var(--palette-accent-s) var(--palette-accent-l)*/
	/*);*/

	/*--palette-blue-light: #d9f7ff;*/
	/*--palette-blue-dark: #c0f2ff;*/
	--palette-blue-vivid: #6aefff;
	/*--palette-green-vivid: #52ffb4;*/
	/*--palette-yellow-vivid: #efffa8;*/
	/*--palette-night: #4a3c6d;*/
	--palette-bg: #fff;
	--palette-surface: #f3f4f6;
	/*--palette-text-hsl: 220 50% 20%;*/
	--palette-muted: #9ca3af;
	/*--palette-accent-text: var(--palette-accent);*/
	/*--palette-accent-soft: var(--palette-blue-vivid);*/
	--font-text: "Inter", sans-serif;
	/*--font-display: "Baton Turbo", system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif;*/
	/*--font-condensed: "Baton", system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif;*/
	/*--line-height-condensed: 1.05;*/
	/*--sidebar-width: 23ch;*/
	/*font-size: 95%;*/
  --color-accent-text: #428BCA;
  --palette-accent: #428BCA;
  --palette-accent-soft: #E5EEF9;
}

/*[data-theme='light'] {*/
/*	--palette-success: var(--palette-green-vivid);*/
/*	--palette-success-soft: rgba(82, 255, 180, .5);*/
/*	--palette-success-contrast: var(--palette-text);*/
/*	--palette-warning: var(--palette-yellow-vivid);*/
/*	--palette-warning-soft: rgba(239, 255, 168, .5);*/
/*	--palette-warning-contrast: var(--palette-text);*/
/*}*/

[data-theme='dark'] {
	/*--palette-blue-light: #001224;*/
	/*--palette-blue-dark: #001f3d;*/
	--palette-blue-vivid: #026;
	/*--palette-green-vivid: #004d2d;*/
	/*--palette-yellow-vivid: #3e4d00;*/
	/*--palette-night: #382d52;*/
	--palette-bg: #030712;
	--palette-surface: #111827;
	/*--palette-text-hsl: 210 20% 80%;*/
	--palette-muted: #9ca3af;
	/*--palette-accent-text: #8082ff;*/
  --color-accent-text: #428BCA;
  --palette-accent: #205284;
  --palette-accent-soft: #1E3C5C;
}

.site-header {
	padding-bottom: var(--space-md);
	padding-top: var(--space-md);
}

@media (max-width: 52rem) {
	.site-header nav {
		align-items: stretch;
		flex-direction: column;
	}
}

.bg-blue-vivid {
	background-color: var(--palette-blue-vivid);
}

.header {
	--color-bg: var(--palette-bg);
	border-top: 1px solid var(--color-fill);
}

.header:not(.is-stuck) {
	box-shadow: none;
}

.drawer {
	background: var(--color-bg);
	box-shadow: var(--shadow-md);
	height: 100vh;
	left: 0!important;
	margin: 0;
	max-height: none!important;
	overflow: auto;
	padding: var(--space-lg);
	position: fixed!important;
	top: 0!important;
	width: min(70vw,30ch);
	z-index: var(--z-index-overlay)
}

.drawer.enter-from,.drawer.leave-to {
	opacity: 1;
	transform: translateX(-100%)
}

.drawer--right {
	left: auto!important;
	right: 0!important
}

.drawer--right.enter-from,.drawer--right.leave-to {
	transform: translateX(100%)
}
